.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10px 7px;
}

.form button {
  /* font: inherit; */
  font-size: .8rem;
  background-color: #212020;
  border: 1px solid #cac6c5;
  color: white;
  padding: 0.8rem 1.3rem;
  margin: 10px auto;
  border-radius: 12px;
  transform: translateY(-2px);
  width: max-content;
  font-weight: 300;
}

.form button:hover,
.form button:active {
  background-color: #b9b3b0;
  border-color: #201e1d;
  color: black;
  transform: translateY(-2px) scale(1.01);
}
.form button:active{
  transform: translateY(1px) ;

}
@media screen and (max-width:700px) {

  .form button {
    font: inherit;
    font-size: .7rem;
    background-color: #212020;
    border: 1px solid #cac6c5;
    color: white;
    margin: 10px auto;
    border-radius: 15px;
    transform: translateY(-2px);
  }

}

