.footer {
  /* margin-top: 50px; */
  padding-bottom: 40px;
  background-color: #1b1b1b;
  background-image: url(../../assets/footer_bg.png);
  background-size: 60%;
  /* height: 500px; */
}

.footer_logo {
  display: flex;
  justify-content: center;

}

.footer_logo h2 {
  margin: 60px auto;
  font-size: 2.3rem;
  color: #fff;
}

hr {
  width: 75%;
  border-color: rgba(255, 166, 0, 0.729);
  border-width: .5px;
  opacity: .35;
  margin: 10px auto;
  margin-bottom: 30px;
}

.footer_main {
  max-width: 70vw;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.footer_main_col {
  color: #f7f7f7;
  max-width: 220px;
  /* color: #fff; */

}

.footer_main_col h3 {
  font-family: 'Abel', sans-serif;
  font-size: 1.2rem;
}

.footer_main_col h5,
.footer_main_col p,
.footer_main_col li a {
  color: #cbc7c7;
  font-weight: 400;
  font-size: 1rem;
}

.footer_main_col li a:hover {
  color: orange;
  transform: scale(1.1);
}

.footer_main_col p {
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-size: 1rem;

}

.footer__list li,
.footer__social li {
  list-style: none;
  transform: translateX(-25px);
}

.footer__list li a,
.footer__social li a {

  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-decoration: none;

}

.footer__social {
  border-radius: .25rem;
  font-size: 1rem;
}

.footer__copy {
  display: block;
  margin-top: 2.5rem;
  color: #fff;
  text-align: center;
  padding-left: 50px;
}

.footer__social_link1 {
  color: red !important;
  font-size: 1.2rem !important;
  padding: 10px 5px;
}

.footer__social_link2 {
  color: rgb(44, 119, 138) !important;
  font-size: 1.2rem !important;
  padding: 10px 5px;
}

.footer__social_link3 {
  color: rgba(146, 146, 234, 0.684) !important;
  font-size: 1.2rem !important;
  padding: 10px 5px;
}


/* media query */
@media screen and (max-width:500px) {


  .footer_logo h2 {
    margin: 10px auto;
    margin-top: 50px;
    font-size: 1.8rem;
    color: #fff;
  }

  hr {
    margin-bottom: 10px;
  }

  .footer_main {
    max-width: 70vw;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .footer_main_col {
    color: #f7f7f7;
    max-width: 80%;

  }
}